# Configuration file

all {
    # arm [default: false]
    B:arm_lmm=false

    # debag_mode [default: true]
    B:cfg_Instant_death_avoidance=true

    # debag_mode [range: 0 ~ 8000, default: 80]
    I:cfg_bullet_living=80

    # debag_mode [default: false]
    B:cfg_bullet_smoke=false

    # cfg_debag_gun_mugen [default: false]
    B:cfg_debag_gun_mugen=false

    # debag_mode [range: 1.0 ~ 100.0, default: 20.0]
    S:cfg_entity_render_range=20.0

    # debag_mode [default: true]
    B:cfg_explotion_breakdirt=true

    # debag_mode [range: 0.0 ~ 1.0, default: 1.0]
    S:cfg_explotion_drop=1.0

    # KEY_B [default: B]
    S:cfg_key_b=B

    # KEY_C [default: C]
    S:cfg_key_c=C

    # KEY_F [default: F]
    S:cfg_key_f=F

    # KEY_G [default: G]
    S:cfg_key_g=G

    # KEY_H [default: H]
    S:cfg_key_h=H

    # KEY_K [default: K]
    S:cfg_key_k=K

    # KEY_R [default: R]
    S:cfg_key_r=R

    # KEY_TAB [default: TAB]
    S:cfg_key_tab=TAB

    # KEY_V [default: V]
    S:cfg_key_v=V

    # KEY_X [default: X]
    S:cfg_key_x=X

    # KEY_Z [default: Z]
    S:cfg_key_z=Z

    # mob [default: true]
    B:cfg_mobdismount_insave=true

    # debag_mode [default: true]
    B:cfg_multiCoreLoading=true

    # debag_mode [range: 0.0 ~ 20.0, default: 1.6]
    S:cfg_optifiney=1.6

    # debag_mode [range: 0.0 ~ 20.0, default: 1.54]
    S:cfg_optifineys=1.54

    # debag_mode [default: true]
    B:cfg_turret_lockpoint=true

    # debag_mode [default: false]
    B:debag=false

    # debag_weather_mode [default: false]
    B:debag_weather=false

    # debag_mode [default: false]
    B:optifine=false
}


